@model int
<a asp-action="MoveUpOrder" asp-route-id="@Model" class="btn btn-outline-primary">
    <i class="fas fa-arrow-up" aria-hidden="true"></i>
</a>
<a asp-action="MoveDownOrder" asp-route-id="@Model" class="btn btn-outline-primary">
    <i class="fas fa-arrow-down" aria-hidden="true"></i>
</a>
