@model organisation.Models.OrgGoalVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create Goal</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargetDate" class="control-label"></label>
                <input asp-for="TargetDate" class="form-control" />
                <span asp-validation-for="TargetDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-5 offset-2">
                    <partial name="_CreateAndBackToListButton" />
                </div>
            </div>
        </form>
    </div>
</div>

